<table class='table table-hover table-striped table-inverse'style="background-color:gainsboro;">

  <thead>
    <tr>
      <th nowrap>商品名</th>
      <th nowrap>単価(税込)</th>
      <th nowrap>数量</th>
      <th nowrap>小計</th>
      <th nowrap>製作ステータス</th>
      <th></th>
    </tr>
  </thead>
  
  <% @order_items.each do |order_item| %>
    <tbody>
      <tr>
        <td nowrap><%= order_item.item.name  %></td>
        <td nowrap><%= order_item.purchace_price.to_s(:delimited) %></td>
        <td nowrap><%= order_item.amount %></td>
        <!--<td nowrap><%#= order_item.sum_of_price.to_s(:delimited) %></td>-->
        <%= form_with model: order_item, url: admin_order_item_path(order_item.id), method: :patch, local: true do |f| %>
        <td nowrap><%= f.select :making_status, OrderItem.making_statuses.keys.map {|k| [I18n.t("enums.order_item.making_status.#{k}"), k]}, class: "making_status" %></td>
        <td><%= f.submit "更新",class:"btn btn-success" %></td>
        <% end %>
      </tr>
    </tbody>
  <% end %>
</table>