  <%= form_with model: [:public, order] do |f| %>
    <%= f.hidden_field :post_code, :value => order.post_code %>
    <%= f.hidden_field :address, :value => order.address %>
    <%= f.hidden_field :to_name, :value => order.to_name %>
    <%= f.hidden_field :postage, :value => 800 %>
    <%= f.hidden_field :total_payment, :value => @total_price %>
    <%= f.hidden_field :payment_method, :value => order.payment_method %>
    <%= f.hidden_field :customer_id, :value => current_customer.id %>
    <div style="margin:auto 50%">
      <%= f.submit "注文を確定する", class:"btn btn-success" %>
    </div>
  <% end %>



