<%= stylesheet_link_tag "application", :media => "all" %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div><!--ジャンル検索欄(部分テンプレート挿入部分)!-->
    <div class="col-md-10"><!--以下商品詳細部分!-->

    <div class="image">
    <%= image_tag'no-image.jpg' %>
    </div>
    <p>商品タイトルデモ</p>
    <p>商品説明デモ商品説明デモ商品説明デモ商品説明デモ商品説明デモ商品説明デモ</p>
    <p>¥値段デモ</p>
    <%=form_with model:@item do |f| %>
    <%=f.select ,[["1","1"],["2","2"],["3","3"]] %>
    <%end%>

    <!--admin商品追加待ち
    <%= image_tag items.get_image %>$動作確認できず、エラーの可能性もあり。get_imageはitemモデルでの定義。変更の可能性大
      <%= items.name %>
      <%= items.tax_free_price %>
      !-->


    </div>
    </div>
</div>