<%= stylesheet_link_tag "application", :media => "all" %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"><%= render "public/homes/genre", genres: Genre.all %></div>
    <div class="col-md-10 d-flex">


      <div><%= image_tag @item.get_image(200,300) %> </div>
      <div>
          <h3><%= @item.name %></h3>
          <p>￥<%= @item.tax_free_price.to_s(:delimited) %>(税込)</p>
          <%= form_with model: [:public, CartItem.new] do |f| %>
            <%= f.select :amount ,[["1","1"],["2","2"],["3","3"]],include_blank: "個数選択"%>
            <%= f.submit "カートに入れる", class:"btn btn-success" %>
          <%end%>
      </div>

    </div>
    </div>
</div>